<script setup>
defineProps({
  value: String,
});
</script>

<template>
  <input :value="value" class="vue-input" />
</template>

<style scoped lang="scss">
.vue-input {
  padding: 10px 4px;
  border: 2px solid teal;
}
</style>
