<template>
  <button class="vue-button">
    <slot />
  </button>
</template>

<style scoped lang="scss">
.vue-button {
  background: #43b883;
  padding: 8px;
  border-radius: 8px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
</style>
