<script setup></script>

<template>
  <div class="container">
    <wrappered-quasar-button value="cool" />
  </div>
</template>

<style lang="scss" scoped>
.container {
  display: flex;
  gap: 8px;
}
</style>
